# Lecture 1

### activate a virtual environment

in terminal: "conda activate qtm151"

### Markup

Headings level 1-6 by number of # before the phrase or words (ex: # Hi would make Hi in heading 1)
Heading 1 can also be done by any number 3 or more of = on the line below the text
Heading 2 can also be done by any number 3 or more of - on the line below the text

### see all packages in conda 

after activated virtual environment: "conda list"

### .ipynb is a jupyter notebook file


i -> interactive

py -> python

nb -> notebook

In [1]:
# importing packages

import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# import files
carfeatures = pd.read_csv('data/features.csv') # alternatives: change csv in command to reflect other file types as needed

# view whole imported file
carfeatures

# view column of imported file 
carfeatures['cylinders']

0      8
1      8
2      8
3      8
4      8
      ..
393    4
394    4
395    4
396    4
397    4
Name: cylinders, Length: 398, dtype: int64

In [3]:
# cross table
# counts how many rows fall into categories
# displays result
# "index" is the category
# "columns" is a custom title

pd.crosstab(index = carfeatures['cylinders'],columns = 'How many cars have (x) cylinders?')

col_0      How many cars have (x) cylinders?
cylinders
3                                          4
4                                        204
5                                          3
6                                         84
8                                        103

In [4]:
# basic data analysis
# "describe" computes the count, mean, std, min, 25% quantile, 50%, 75%, max
# automatically excludes variables with text values
# otherwise includes all numeric variables

carfeatures.describe()

              mpg   cylinders  displacement       weight  acceleration
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.427136  2970.424623     15.568090
std      7.815984    1.701004    104.268683   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

In [ ]:
# scatterplot creation
# take two variables, x and y
# scatterplot best works for two continous or close to continuous values
plt.scatter(x = carfeatures['weight'], y = carfeatures['mpg'])

# scatterplot visualization
plt.show()

# Lecture 2

In [10]:
# Types of Variables
print (type ("this is a String")) # type() method returns the type of the thing in the ()

# integers
# and + or - whole number, limit is ENORMOUS
inte = -1820392
print ("\ninteger\t")
print (inte)
print (type (inte))

# float
# decimals
doub = 0.1
print ("\nfloat\t")
print (doub)
print (type(doub))

# strings
# characters combines, demarkated by '' or ""
# only strings can be cocatenated (done with a +)
stri = '\nMario said, "this is a super string"'
print (stri)
print (type (stri))

stri += ', but Mario was wrong'
print (stri)
print (type (stri))

stringy = '... because this is a SUPER DUPER STRING'
print (stri + stringy)
print (type (stringy))

<class 'str'>

integer
-1820392
<class 'int'>

float
0.1
<class 'float'>

Mario said, "this is a super string"
<class 'str'>

Mario said, "this is a super string", but Mario was wrong
<class 'str'>

Mario said, "this is a super string", but Mario was wrong... because this is a SUPER DUPER STRING
<class 'str'>

### A note on Jupyter Notebook

Jupyter Notebook auto prints type if its on the last line

If its only one line in the code block, it will show

### Variables

all active variables can be seen in jupyter notebook (top panel)

you can show the output by writing the variable name in a new block
the last line will be displayed in a block

<font size="5"> 

### Basic operations on integers and floats

- Addition (+), Multiplication (*), Subtraction (-), Division (/), Exponentiation (**)
- If you try this on a string it will not work

In [32]:
# Lists
# donated by square brackets
print("Lists\n______\n")

# they can be single type or mixed
# a list can even contain lists!
print("A strange mixed list:")
myMixedList = [0.0,1,'hi',"nah",9.283,'"fiji"', 0, "lovin'", -2, -0, ["this","is","a","list"],("tuple",0,"moople")]
print (myMixedList)

# Empty list will be assumed to be a character list and if you try to add strings without brackets, they will be broken into characters
print("\nMy once empty list:")
myList = []
myList += "hola"
myList += 'hi'
myList += ["hello"]
print (myList)

#access elements of list
# index starts at 0
print ("Accessing an Entry:\t\t\t"+myMixedList[2])
#access elements of a list in a list
print("Acsessing an Entry in an Entry:\t\t"+myMixedList[10][0])

#Tuples
dashes = "- - - - - - - - - - - - - - - - - - - - - - - - - "
print("\n"+dashes+dashes+"\n\nTuples\n______\n")

#tuples can also be mixed type
tup = ("I", "Love", 0)
print (tup)
print (type(tup))

Lists
______

A strange mixed list:
[0.0, 1, 'hi', 'nah', 9.283, '"fiji"', 0, "lovin'", -2, 0, ['this', 'is', 'a', 'list'], ('tuple', 0, 'moople')]

My once empty list:
['h', 'o', 'l', 'a', 'h', 'i', 'hello']
Accessing an Entry:			hi
Acsessing an Entry in an Entry:		this

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Tuples
______

('I', 'Love', 0)
<class 'tuple'>

## Graphing
#### histograms

In [ ]:
# This creates a histogram with the "list_colors"
plt.hist(x= list2)
# x = the list with data that you want

###### scatter

In [ ]:
plt.scatter(x = list_numbers, y = list_numbers_sqr)
plt.xlabel("A meaningful name for the X-axis")
plt.ylabel("Favourite name for Y-axis")
plt.show()

## Lecture 3

In [ ]:
# This code creates a vector of random variables 
# generated from a normal distribution with
# mean "loc" (location) and standard deviation "scale"
# the number of distinct variabels is "size"

randomvar_a = np.random.normal(loc=0, scale=1, size=10)
print(randomvar_a)

# Your computer will typically generate different numbers every time you run a command
# However, sometimes you want to be able to replicate the results
# You can choose any other number instead of "12345". This will produce another set
# of random numbers, but they will give the same answers

np.random.seed(10393)

random_var_b = np.random.normal(loc=0, scale=1, size=10)
print(random_var_b)

###### Matrixes

In [ ]:
# Matrices are usually denoted by capital letters
# The object [[1,2,3],[4,5,6],[7,8,9]] is a list of lists
# It's useful to maintain this notation in the code as well

X = np.array([[1,2,3],[0,4,5],[0,0,6]])
print(X)

# You can also stack columns
Y =  np.column_stack([[1,0,1],[2,1,0]])
print(Y)

# Matrix Transpose
np.matrix.transpose(Y)

# Matrix Multiplication
np.dot(X,Y)
np.matmul(X,Y)

# Check the determinant of a matrix (a matrix is invertible if the determinant is not zero)
print(np.linalg.det(X))

# Matrix inverse
# The following command stands for linear algebrar inverse.
X_inv = np.linalg.inv(X)

# Output the result
print(X_inv)